# Python
*.py[cod]
*.pyc
__pycache__/
*.so
*.egg-info/
*.egg
dist/
build/

# Environments
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
.coverage
.ruff_cache/
.mypy_cache/
